<div style="height: <%= height %>px;
padding: 10px <%= padding %>px;
width: <%= width - 10 %>px;">
  <svg width="<%= width - 10 %>px" height="<%= height %>px;">
    <path d="<%= elevation_path %>" stroke="<%= color %>" fill="<%= color %>" />
  </svg>
</div>